@import "../global/global.css";
body {
    position: relative;
}

#section1 {
    padding-top: 50px;
    height: 800px;
    color: #fff;
    background-image:url("../../img/piste.jpeg");
    opacity: 0.8;
    
}

#section2 {
    padding-top: 50px;
    height: 800px;
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #ff9800;
}

#section4 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #00bcd4;
}

#section5 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #009688;
}
