@import "../global/global.css";
body {
    position: relative;
}

#section1 {
    padding-top: 50px;
    height:auto;
    color: rgb(25, 38, 33);
    text-align: center;
    background-image:url("../../img/piste.png");
    background-size: cover;
    background-repeat:no-repeat;
    min-height: 300px;
    
}

#section2 {
    padding-top: 50px;
    height: auto;
    color: #fff;
    background-image: url(../../img/city_woman.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
    min-height: 300px;
    
}

#section3 {
    padding-top: 50px;
    min-height: 300px;
    color: #fff;
    background-color: #ff9800;
    text-align: center;
}

#section4 {
    padding-top: 50px;
    height: auto;
    color: #fff;
    background-image: url(../../img/competition_start.jpg);
    background-size: cover;
    text-align: center;
}

#section5 {
    padding-top: 50px;
    padding-bottom: 50px;
    
    color: #fff;
    background-color: #009688;
    text-align: center;
    min-height: 300px;
}
