
@import "../../fonts/titilium/titillium.css";
body{
    font-family: "Titillium Web", sans-serif;
}


.head {
    background-color: black;
    color: white;
    height: 200px;
    padding-top: 100px;
    text-align: center;
    
}

body {
      position: relative; 
  }


.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
}


.block-test1 {
    height: 500px;
    background-color: beige;
    
}
.block-test2 {
    height: 900px;
    background-color: blue;
}



.section1 {
    margin-left: -30px;
    margin-right: -30px;
}

.footer {
    background-color: #636564;
    color: white;
    position: fixed;
    
    
}

.email-news {
    border-bottom: solid;
    
}
.reference {
    color: #636564;
    
}
.footer-site{
	text-align: center;
}

