<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Fragments</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="css/page/index.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav th:fragment="entete(selectedMenu)">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     <div th:class="${selectedMenu == 'home' } ? 'active'"> <a class="active navbar-brand" href="home">Acceuil</a></div>
    </div>
    <div class="navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li th:class="${selectedMenu == 'club' } ? 'active'"><a href="club">Club</a></li>
        
        <li th:class="${selectedMenu == 'equipe' } ? 'active'"><a href="equipe">Staff</a></li>
        
        <li th:class="${selectedMenu == 'addimage' } ? 'active'"><a href="addimage">Uploader un certificat medical</a></li>
        
        <li th:class="${selectedMenu == 'calendrier' } ? 'active'"><a href="calendrier">Caledrier</a></li>
        
        <li th:class="${selectedMenu == 'categorie' } ? 'active'"><a href="categorie">Categories</a></li>
        
        <li th:class="${selectedMenu == 'resultats' } ? 'active'"><a href="resultats">Résultats</a></li>
        
        <li th:class="${selectedMenu == 'inscriptions' } ? 'active'"><a href="inscription">Inscriptions</a></li>
        
        <li th:class="${selectedMenu == 'contact' } ? 'active'"><a href="contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li th:class="${selectedMenu == 'signup' } ? 'active'"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li th:class="${selectedMenu == 'connexion' } ? 'active'"><a href="connexion"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	<header id="mainHeader" th:fragment="header">
		<h1>City Explorer</h1>
		<nav>
			<ul class="nav nav-stacked">
				<li><a href="home"><i class="fa fa-building" aria-hidden="true"></i> Image list</a></li>
				<li><a href="addimage"><i class="fa fa-plus" aria-hidden="true"></i> Add a new image</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>