<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title> Bienvenue sur le site du club d'athletisme de MArquise </title>
    
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/page/inscription.css" rel="stylesheet">
    
</head>


<body>
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">Acceuil</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="club.html">Club</a></li>
        
        <li><a href="staff.html">Staff</a></li>
        
        <li><a href="cours.html">Cours et Stages</a></li>
        
        <li><a href="calendrier.html">Caledrier</a></li>
        
        <li><a href="categorie.html">Categories</a></li>
        
        <li><a href="resultats.html">Résultats</a></li>
        
        <li class="active"><a href="inscription.html">Inscriptions</a></li>
        
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
         <div class="container-fluid">
            <div class="row head">
                <div class="col-sm-12 col-md-12">
                    <h1>Entente Maritime Athlétique 62</h1> </div>
            </div>
        </div>
  
<div class="container-fluid">
 <div class="formulaire-box">
  <h3 class="titre-formulaire">Remplissez vos informations ici</h3>
  
  
  <form class="formulaire-perso">

     <fieldset>
        <legend>
            Entrez vos informations ici
        </legend>
        <ol>
            <li>
                <label for="nom">Nom</label>
                <input id="nom" name="nom" type="text" placeholder="votre nom de famille"><br />
            </li>
            <li>
                <label for="prenom">Prenom</label>
                <input id="prenom" name="prenom" type="text" placeholder="votre prenom">
            </li>
            <li>
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="votre email">
            </li>
            <li>
                <label for="nom">Nomero de Securité social</label>
                <input id="nom" name="nom" type="text" placeholder="votre num de sécu"><br />
            </li>
        </ol>
         
     </fieldset>
     <fieldset>
    <button type=submit>Envoyer</button>
  </fieldset>
     <fieldset>
        <legend>Retrouver mes informations</legend>
        <ol>
            <li>
                <label for="nom">Nom</label>
                <input id="nom" type="text"><br />
            </li>
        </ol>
        <fieldset>
    <button type=submit>Envoyer</button>
  </fieldset>
        
         
     </fieldset>
      
  </form>
</div>
   </div>
    

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>