<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title> Bienvenue sur le site du club d'athletisme de Marquise </title>
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/page/indexAdmin.css" rel="stylesheet">
    
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="active navbar-brand" href="index.html">Acceuil</a>
    </div>
    <div class="navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="club.html">Club</a></li>
        
        <li><a href="staff.html">Staff</a></li>
        
        <li><a href="cours.html">Cours et Stages</a></li>
        
        <li><a href="calendrier.html">Caledrier</a></li>
        
        <li><a href="categorie.html">Categories</a></li>
        
        <li><a href="resultats.html">Résultats</a></li>
        
        <li><a href="inscription.html">Inscriptions</a></li>
        
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <div class="row head">
        <div class="col-sm-12 col-md-12">
           
            <h1>Entente Maritime Athlétique 62</h1>
        </div>
        
        
        
    </div>
</div>

<div class="container-fluid">
    <div class="row section1">
        <div class="col-md-6">
            <div class="block-test1">
                <h2 class="titre-section-admin">Rechercher la liste de tout les inscrits au club: </h2>
                <form class="form-inline" method="post">
                    <div class="form-group">
                        <label for="idInput">Id</label>
                        <select class="form-control" id="idInput" name="idFilter">
                           <option value="">All users</option>
                           <option></option>
                            
                        </select>
                    </div>
                    <input type="submit" class="btn btn-default" value="Filter">
                </form>
                
            </div>
            <div class="block-test2">
               <h2 class="titre-section-admin">Rechercher un licencié du club par son nom de famille </h2>
                
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="block-test1">
               <h2 class="titre-section-admin">Ajouter un membre du club</h2>
                
            </div>
            <div class="block-test2">
               <h2 class="titre-section-admin">Liste de tout les inscrits au club: </h2>
               <table class="liste-inscrits">
               <tr>
               <td>id</td>
               <td>nom</td>
               <td>prenom</td>
               </tr>
               
               <div class="utilisateur" th:each="utilisateur : ${utilisateurs}">
               
               
               <tr>
               <td th:text="${utilisateur.id}"></td>
               <td th:text="${utilisateur.nom}"></td>
               <td th:text="${utilisateur.prenom}"></td>
               </tr>
               </table>
                </div>
                
            </div>

            
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>
            Hello world !
        </p>
    </div>
</footer>
 
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../../bootstrap/js/photo-gallery.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../../bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>