<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Bienvenue sur le site du club d'athletisme de Marquise </title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/page/indexAdmin.css" rel="stylesheet"> </head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse" th:insert="~{admin/commonAdmin ::entete('admin')}"> </nav>
    <div class="container-fluid">
        <div class="row head">
            <div class="col-sm-12 col-md-12">
                <h1>Entente Maritime Athlétique 62</h1> </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row section1">
            <div class="col-md-12">
                <div class="block-test1">
                    <h2 class="titre-section-admin">Rechercher un licencié par son nom dans la liste de tout les inscrits au club: </h2>
                    <form class="form-inline" method="post">
                        <div class="form-group">
                            <label for="idInput">Nom</label>
                            <input class="form-control" id="nom" name="nom"> </div>
                        <input type="submit" class="btn btn-default" value="Filter" name="chercher">
                         		

                        
                    </form>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Sexe</th>
                                <th>Date de naissance</th>
                                <th>Tarif à payer</th>
                                <th>Numéro de sécu</th>
                                <th>Adresse</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="nomUtil : ${nom}">
                                <td>[[${nomUtil.id}]]</td>
                                <td>[[${nomUtil.nom}]]</td>
                                <td>[[${nomUtil.prenom}]]</td>
                                <td>[[${nomUtil.sexe}]]</td>
                                <td>[[${#temporals.format(nomUtil.date, 'd MMMM yyyy')}]]</td>
                                <td>[[${nomUtil.tarif}]]</td>
                                <td>[[${nomUtil.numSecu}]]</td>
                                <td>[[${nomUtil.adresse}]]</td>
                               
                                
                            </tr>
                        </tbody>
                    </table>
           
                </div>
            </div>
            <div class="col-md-12">
                <div class="block-test1">
                    <h2 class="titre-section-admin">Liste de tout les licencié </h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="col-xs-1 col-sm-1 col-md-1">Identifiant</div>
                            <div class="col-xs-1 col-sm-1 col-md-1">Nom</div>
                            <div class="col-xs-1 col-sm-1 col-md-1">Prénom</div>
                            <div class="col-xs-1 col-sm-1 col-md-1">Sexe</div>
                            <div class="col-xs-2 col-sm-2 col-md-2">Date de naissance</div>
                            <div class="col-xs-1 col-sm-1 col-md-1">Tarif en €</div>
                            <div class="col-xs-1 col-sm-1 col-md-1">N° de sécu</div>
                            <div class="col-xs-2 col-sm-2 col-md-2">Adresse</div>
                        </div>
                        <div class="panel-body">
                            <div class="row utilisateur" th:each="utilisateur : ${utilisateurs}">
                                <div class="col-xs-1 col-sm-1 col-md-1" th:text="${utilisateur.id}"></div>
                                <div class="col-xs-1 col-sm-1 col-md-1" th:text="${utilisateur.nom}"></div>
                                <div class="col-xs-1 col-sm-1 col-md-1" th:text="${utilisateur.prenom}"></div>
                                <div class="col-xs-1 col-sm-1 col-md-1" th:text="${utilisateur.sexe}"></div>
                                <div class="col-xs-2 col-sm-2 col-md-2" th:text="${utilisateur.date}"></div>
                                <div class="col-xs-1 col-sm-1 col-md-1" th:text="${utilisateur.tarif}"></div>
                                <div class="col-xs-1 col-sm-1 col-md-1" th:text="${utilisateur.numSecu}"></div>
                                <div class="col-xs-2 col-sm-2 col-md-2" th:text="${utilisateur.adresse}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form method="post">
                        <div class="form-group ">
                            <label class="control-label requiredField" for="id"> id <span class="asteriskField">
                                        *
                                    </span> </label>
                            <input class="form-control" id="id" name="id" placeholder="id" type="text" /> </div>
                        <div class="form-group ">
                            <label class="control-label " for="nom"> Nom </label>
                            <input class="form-control" id="nom" name="nom" placeholder="nom" type="text" /> </div>
                        <div class="form-group ">
                            <label class="control-label " for="prenom"> Pr&eacute;nom </label>
                            <input class="form-control" id="prenom" name="prenom" placeholder="pr&eacute;nom" type="text" /> </div>
                        <div class="form-group ">
                            <label class="control-label " for="sexe"> Sexe </label>
                            <input class="form-control" id="sexe" name="sexe" placeholder="sexe" type="text" /> </div>
                        <div class="form-group ">
                            <label class="control-label " for="dateNaissance"> Date de naissance </label>
                            <input class="form-control" id="dateNaissance" name="dateNaissance" placeholder="MM/DD/YYYY" type="text" /> </div>
                        <div class="form-group ">
                            <label class="control-label " for="prix"> Prix </label>
                            <input class="form-control" id="prix" name="prix" placeholder="prix" type="text" /> </div>
                        <div class="form-group ">
                            <label class="control-label " for="numSecu"> Num&eacute;ro de s&eacute;curit&eacute; sociale </label>
                            <input class="form-control" id="numSecu" name="numSecu" placeholder="n&deg; s&eacute;cu" type="text" /> </div>
                        <div class="form-group ">
                            <label class="control-label " for="message"> Adresse </label>
                            <textarea class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <div>
                                <button class="btn btn-success " name="submit" type="submit"> Submit </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p> Hello world ! </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bootstrap/js/photo-gallery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>