<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>City Explorer</title>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/custom.css">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
      <nav class="navbar navbar-inverse" th:insert="~{admin/commonAdmin ::entete('certificatsAdmin')}">
  
</nav>


	<div id="mainContent" class="container-fluid">
		
		<section class="certiflist">
		<h2>Liste des certificats aux formats PNG ou JPG ou JPEG</h2>
			<article class="citybox" th:each="image : ${images}">
				<h3>
					[[${image.name}]] 
					<a th:href="'deleteimage?id='+${image.id}" class="btn btn-xs btn-danger pull-right"> 
						<i class="fa fa-times" aria-hidden="true"></i>
					</a>
				</h3>
				<p th:text="${image.summary}" class="summary"></p>
				<div class="btn-toolbar actionbar" role="toolbar">
					<div class="btn-group" role="group">
						<a th:href="'detail?id='+${image.id}" class="btn btn-primary"><i
							class="fa fa-eye" aria-hidden="true"></i> See details</a>
					</div>
										
				</div>
				<aside class="cityPhoto">
					<img th:src="'imagepicture?id='+${image.id}" th:alt="'Vignette '+${image.name}">
<!-- 					<iframe th:src="'imagepicture?id='+${image.id}" th:alt="'Vignette '+${image.name}"></iframe> -->
					
					
				</aside>
			</article>
		</section>
		<!-- <section class="certiflist">
		<h2>Liste des certificats au format PDF</h2>
			<article class="citybox" th:each="image : ${images}">
				<h3>
					[[${image.name}]] 
					<a th:href="'deleteimage?id='+${image.id}" class="btn btn-xs btn-danger pull-right"> 
						<i class="fa fa-times" aria-hidden="true"></i>
					</a>
				</h3>
				<p th:text="${image.summary}" class="summary"></p>
				<div class="btn-toolbar actionbar" role="toolbar">
					<div class="btn-group" role="group">
						<a th:href="'detail?id='+${image.id}" class="btn btn-primary"><i
							class="fa fa-eye" aria-hidden="true"></i> See details</a>
					</div>
										
				</div>
				<aside class="cityPhoto">
					<img th:src="'imagepicture?id='+${image.id}" th:alt="'Vignette '+${image.name}">
					<iframe th:src="'imagepicture?id='+${image.id}" th:alt="'Vignette '+${image.name}"></iframe>
					
					
				</aside>
			</article>
		</section> -->
	</div>
</body>
</html>