<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title> Bienvenue sur le site du club d'athletisme de MArquise </title>
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/page/contact.css" rel="stylesheet">
    
</head>


<body>
  
<nav class="navbar navbar-inverse" th:insert="~{admin/commonAdmin ::entete('contactAdmin')}">
  
</nav>
<div class="container-fluid">
            <div class="row head">
                <div class="col-sm-12 col-md-12">
                    <h1>Entente Maritime Athlétique 62</h1> </div>
            </div>
            <div class="row section-contact">
                 <!--  <div class="utilisateur" th:each="utilisateur : ${utilisateurs}"></div> -->
                <div class="jumbotron contact" th:each="contact : ${contacts}">
                
                    <h1 >Rajouter dans la bdd et le formulaire un titre ou un nom</h1>
                    <p th:text="${contact.commentaire}"></p>
                    <p><a th:href="'mailto:'+${contact.email}" class="btn btn-primary btn-lg" role="button">Envoyer un email</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="plan">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3408.076198770333!2d1.7042708945451035!3d50.813893765478774!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16c331a0acfe17b9!2sLe+Beaupr%C3%A9!5e0!3m2!1sfr!2sfr!4v1493999546942" width="400" height="300" frameborder="0" style="border:0" allowfullscreen>

                        </iframe>
                    </div>
                    <div class="coordonees">
                        <p>Adresse :   BP. 15 – MARQUISE</p>
                        <p>Renseignements : 06 14 67 37 63 ou 06 83 12 40 27</p>
                        <p>email :fred.coach.mahe03@wanadoo.fr</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        <footer class="footer" th:insert="~{users/common ::footer('contact')}">
  
</footer>
       
    </body>

</html>