<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title> Bienvenue sur le site du club d'athletisme de Marquise </title>
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/page/resultat.css" rel="stylesheet">
    
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
  
<nav class="navbar navbar-inverse" th:insert="~{admin/commonAdmin ::entete('resultatsAdmin')}">
  
</nav>
<div class="container-fluid">
    <div class="row head">
        <div class="col-sm-12 col-md-12">
           
            <h1>Entente Maritime Athlétique 62</h1>
        </div>
        
        
        
    </div>
</div>

<div class="container-fluid">
    <div class="row section1">
        <div class="col-md-8">
            <div class="resultats">
                <!-- L'integration de l'iframe est a retravailler, afin de le rendre plus responssive et adapté à toute sorte d'écrans. De plus il serait interessant de pouvoir extraire les données directement sur le site de la federatio. !-->
                <h2 class="titre"> Vous retrouvez ici tous les résultats des dernieres competitons</h2>
                <div class="resultatWrapper">
                <iframe src="http://bases.athle.com/asp.net/liste.aspx?frmbase=cclubs&frmmode=2&frmespace=&frmtypeclub=M&frmsaison=2016&frmnclub=062087&f" ></iframe></div>
            </div>
            
            
        </div>
        <div class="col-md-3 col-md-offset-1">
          
          <!-- Formulaire d'inscription à la newsletter -->
          
          
           <h1> Restez informés !</h1>
            <form class="inscription">
               <p> Inscrivez vous à la newsletter</p>
               <input class="email-news" id="email" placeholder="Email" type="email"> 
               <p> J'accepte de recevoir regulierement des informations de la part du club</p>
               <input id="ok" type="checkbox">
               <button type="submit">Valider</button>
               
               
                
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>
            Hello world !
        </p>
    </div>
</footer>
 
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="bootstrap/js/photo-gallery.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>