<!DOCTYPE html>
<html lang="fr">

    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title> Bienvenue sur le site du club d'athletisme de Marquise </title>

        <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/page/connexion.css" rel="stylesheet">

    </head>


    <body data-spy="scroll" data-target=".navbar" data-offset="50">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="index.html">Acceuil</a>
                </div>
                <div class="navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="club.html">Club</a></li>

                        <li><a href="staff.html">Staff</a></li>

                        <li><a href="cours.html">Cours et Stages</a></li>

                        <li><a href="calendrier.html">Caledrier</a></li>

                        <li><a href="categorie.html">Categories</a></li>

                        <li><a href="resultats.html">Résultats</a></li>

                        <li><a href="inscription.html">Inscriptions</a></li>

                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li class="active"><a href="connexion.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row head">
                <div class="col-sm-12 col-md-12">

                    <h1>Entente Maritime Athlétique 62</h1>
                </div>



            </div>
        </div>

        <div class="container">
            <form class="form-signin">
                <h2 class="form-signin-heading">
                    Connectez vous
                </h2>
                <label for="inputEmail" class="sr-only"> Addresse Email :</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="addresse Email" required autofocus>
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit"><a href="../admin/admin.html">Se connecter</a></button>

            </form>
        </div>

        <footer class="footer">
            <div class="container">
                <p>
                    Hello world !
                </p>
            </div>
        </footer>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../../bootstrap/js/photo-gallery.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../../bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>