<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title> Bienvenue sur le site du club d'athletisme de MArquise </title>
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/page/index.css" rel="stylesheet">
    
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
  
<nav class="navbar navbar-inverse" th:insert="~{users/common ::entete('home')}">
  
</nav>
<div class="container-fluid">
    <div class="row head">
        <div class="col-sm-12 col-md-12">
           
            <h1>Entente Maritime Athlétique 62</h1>
        </div>
        
        
        
    </div>
</div>
 
<!-- Ici se trouve 5 sections personnalisables par le client: il pourra changer les images ou le texte -->
 
 <div id="section1" class="container-fluid">
  <h1>Bienvenue sur le site du Club d'athletisme de Marquise</h1>
  <p>Section 1</p>
  <p>Texte de bienvenue qui sera choisi par le club sportif</p>
</div>

<div id="section2" class="container-fluid">
  <h1>Section 2</h1>
  <p>Section 2</p>
  
</div>
<div id="section3" class="container-fluid">
  <h1>Section 3</h1>
  <p>Section 3</p>
</div>
<div id="section4" class="container-fluid">
  <h1>Section 4</h1>
  <p>Section 4</p>
</div>
<div id="section5" class="container-fluid">
  
  <h2>
      Club du Marquise Athletisme
  </h2>
  <h3>
  Section de L’Entente Maritime 62 (EMA62) – Club de National
  </h3>
  
  <p>Association sportive régie par la Loi du 1er juillet 1901</p>
  <p>Adresse : Café "Le Beaupré" BP 15 - MARQUISE <br>
  Contact<br>
  06 14 67 37 63<br>
  06 83 12 40 27<br>
  fred.coach.mahe03@wanadoo.fr<br>
  </p>
  
</div>
  

    
    
    
    
    
    
    
    
    
    
    
    <footer class="footer">
    <div class="container">
        <p>
            Hello world !
        </p>
    </div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>