<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title> Bienvenue sur le site du club d'athletisme de MArquise </title>
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/page/index.css" rel="stylesheet">
    
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
  
<nav class="navbar navbar-inverse" th:insert="~{users/common ::entete('home')}">
  
</nav>
<div class="container-fluid">
    <div class="row head">
        <div class="col-sm-12 col-md-12">
           
            <h1>Entente Maritime Athlétique 62</h1>
        </div>
        
        
        
    </div>
</div>
 
<!-- Ici se trouve 5 sections personnalisables par le client: il pourra changer les images ou le texte -->
 
     <div id="section1" class="container-fluid">
        <h1>Bienvenue sur le site du Club d'athletisme de Marquise</h1>
        <p>Club du Marquise Athlétisme Section de L’Entente Maritime 62 (EMA62) – Club de National</p>
    </div>
    <div id="section2" class="container-fluid">
        <h1>Entrainements, Loisirs, Sports</h1>
        <p></p>
    </div>
    <div id="section3" class="container-fluid">
        <h1>Contact</h1>
        <h2>reseaux sociaux</h2>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.example.com/page.html&layout=box_count&show_faces=true&width=65&action=like&font=arial&colorscheme=light&height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:65px; height:65px; margin-top:3px;" allowTransparency="true"></iframe>
        <h2>contactez nous</h2> <a href="contact">formulaire de contact</a>
        
        
    </div>
    <div id="section4" class="container-fluid">
        <h2>Venez nous rejoindre</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3408.076198770333!2d1.7042708945451035!3d50.813893765478774!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16c331a0acfe17b9!2sLe+Beaupr%C3%A9!5e0!3m2!1sfr!2sfr!4v1493999546942" width="400" height="300" frameborder="0" style="border:0" allowfullscreen> </iframe>p>
    </div>
    <div id="section5" class="container-fluid">
        <h2>
                Club du Marquise Athletisme
            </h2>
        <h3>
                Section de L’Entente Maritime 62 (EMA62) – Club de National
            </h3>
        <p>Association sportive régie par la Loi du 1er juillet 1901</p>
        <p>Adresse : Café "Le Beaupré" BP 15 - MARQUISE
            <br> Contact
            <br> 06 14 67 37 63
            <br> 06 83 12 40 27
            <br> fred.coach.mahe03@wanadoo.fr
            <br> </p>
    </div>
    
    <footer class="footer">
    <div class="container">
        <p>
            Hello world !
        </p>
    </div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>