<!DOCTYPE html>
<html lang="fr">

    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title> Bienvenue sur le site du club d'athletisme de Marquise </title>

        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/page/staff.css" rel="stylesheet">


    </head>


    <body data-spy="scroll" data-target=".navbar" data-offset="50">

        <nav class="navbar navbar-inverse" th:insert="~{users/common ::entete}">
  
</nav>
        <div class="container-fluid">
            <div class="row head">
                <div class="col-sm-12 col-md-12">

                    <h1>Entente Maritime Athlétique 62</h1>
                </div>



            </div>
        </div>
<!-- 3 section de 4 colonnes de larges, la classe photo1 represente le container dans lequel il y a les photo de classe photos !-->
        <div class="container-fluid">
            <div class="row">
                <div class="team">
                    <h2>Voici les entraineurs et animateurs du club</h2>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 photo1">
                            <img src="img/fredmahe.jpg" class="photos">
                            <h4>Fred Mahé coach du club</h4>
                            <p>Brevet d’Etat d’Educateur Sportif 1er degré mention athlétisme,
                                Professeur d’EPS, responsable section Athlé (6ème et 5ème) au collège St Martin de Marquise.
                                Groupes Minimes (Mercredi), benjamins et au dessus le samedi.
                                Groupe course sur route et trail.

                                Responsable des entraineurs et animateurs.

                                Spécialités : Sprint-Haies-demi-fond et sauts.</p>

                        </div>
                        <div class="col-sm-4 col-md-4 photo1">
                            <img src="img/freddolle.jpg" class="photos">
                            <h4>Fred Dollé</h4>
                            <p>Professeur d’EPS.
                                Entraineur à partir des catégories Benjamins (le samedi).
                                Responsable Saut à la Perche.

                                Spécialités : Haies-sauts.</p>

                        </div>
                        <div class="col-sm-4 col-md-4 photo1">
                            <img src="img/laetitiadolle.jpg" class="photos">
                            <h4>Laetitia Dollé</h4>
                            <p>Professeur d’EPS.
                                Entraineur de Lancers pour les catégories Cadets et au-dessus.

                                Spécialités : Lancers.</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 photo1">
                            <img src="img/manonribet.jpg" class="photos">
                            <h4>Manon Ribet</h4>
                            <p>Animatrice des groupes Poussins et Baby (mercredi)</p>

                        </div>
                        <div class="col-sm-4 col-md-4 photo1">
                            <img src="img/anthonyeveraere.jpg" class="photos">
                            <h4>Anthony Everaere</h4>
                            <p>Animateurs groupes Poussins et Eveil (mercredi)</p>

                        </div>
                        <div class="col-sm-4 col-md-4 photo1">
                            <img src="img/floriangrare.jpg" class="photos">
                            <h4>Florian Grare</h4>
                            <p>Animateurs groupes Poussins et Eveil (mercredi)</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-sm-offset-4 col-sm-4 col-md-4 photo1">
                            <img src="img/davidkoether.jpg" class="photos">
                            <h4>David Koether</h4>
                            <p>Diplômes d’animateur Fédéral et de moniteur Régional (FFA) en Athlétisme

                                Animateur remplaçant</p>

                        </div>
                        
                        
                    </div>


                </div>
            </div>

        </div>




        <footer class="footer">
            <div class="container">
                <p>
                    Hello world !
                </p>
            </div>
        </footer>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="bootstrap/js/photo-gallery.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>